@import 'normalize.css';
@import 'variables.scss';

* {
  font-family: Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif
}

.align--center {
  text-align: center
}

.align--right {
  text-align: right
}

body {
  margin: 0;
}

.section__hero {
  background: url("https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?dpr=1&auto=compress,format&fit=crop&w=376&h=251&q=80&cs=tinysrgb&crop=") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

.section__cover {
  min-height: inherit;
  background-color: $coverGrey;
  animation-name: fadein;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  color: white;
}

.section__hero-headline {
  font-size: 4.5em;
  padding-top: 20vh;
  padding-bottom: 20px;
  margin: 0;
}

.section__hero-subheadline {
  color: rgba(255, 255, 255, 0.95);
  font-weight: 400;
}

.section__hero-headline--js {
  font-size: 2.0rem;
  font-weight: 400;
  color: white;
}

.section__hero_features {
  background-color: transparentize($coverGrey, 0.2);
  padding: 50px;
  margin-top: 40px;
  border-radius: 6px;
}

@media (max-width: 720px) {
  .section__hero-headline {
    font-size: 2em;
    padding-top: 8vh;
  }
  
  .section__hero-headline--js {
    font-size: 1rem;
  }
}

@keyframes fadein {
  from {
    background-color: $opaqueCoverGrey;
  }
  to {
    background-color: $coverGrey;
  }
}

.section__hero_features__description {
  margin: 15px 0 25px 0;
  font-size: small;
  color: rgba(255, 255, 255, 0.25);
  text-align: left;
}

// components
.component__render-status_container {
  display: inline-flex;
  font-size: small;
  margin-right: 4px;
}

.component__render-status--prefix {
  padding: 2px 4px;
}

.component__render-status--suffix {
  color: white;
  font-weight: 800;
  padding: 2px 4px;
}

.component__render-status--box {
  border-width: thin;
  border-color: grey;
  border-style: solid;
}

.component__render-status--box-green {
  background-color: green;
}

.component__render-status--box-blue {
  background-color: dodgerblue;
}
